<head><script defer src="/scripts/main-main-a216e846f45cf836d127.js"></script><link href="/styles/style.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'E:\OpenServer\domains\t-Py-Flask-account\frontend\src\public\layout\profile.html' in 'E:\OpenServer\domains\t-Py-Flask-account\frontend'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'E:\OpenServer\domains\t-Py-Flask-account\frontend\src\public\layout\profile.html' in 'E:\OpenServer\domains\t-Py-Flask-account\frontend'
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\Compilation.js:2109:28
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:908:13
      at eval (eval at create (E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:333:22
      at eval (eval at create (E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:512:22
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:150:10
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:775:25
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:992:8
      at E:\OpenServer\domains\t-Py-Flask-account\frontend\node_modules\webpack\lib\NormalModuleFactory.js:1121:5
  
  - Compilation.js:2109 
    [frontend]/[webpack]/lib/Compilation.js:2109:28
  
  - NormalModuleFactory.js:908 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:908:13
  
  
  - NormalModuleFactory.js:333 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:333:22
  
  
  - NormalModuleFactory.js:512 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:512:22
  
  - NormalModuleFactory.js:150 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:150:10
  
  - NormalModuleFactory.js:775 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:775:25
  
  - NormalModuleFactory.js:992 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:992:8
  
  - NormalModuleFactory.js:1121 
    [frontend]/[webpack]/lib/NormalModuleFactory.js:1121:5
  
  - child-compiler.js:211 
    [frontend]/[html-webpack-plugin]/lib/child-compiler.js:211:18
  
  - Compiler.js:627 finalCallback
    [frontend]/[webpack]/lib/Compiler.js:627:5
  
  - Compiler.js:662 
    [frontend]/[webpack]/lib/Compiler.js:662:11
  
  - Compiler.js:1348 
    [frontend]/[webpack]/lib/Compiler.js:1348:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [frontend]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1344 
    [frontend]/[webpack]/lib/Compiler.js:1344:33
  
  - Compilation.js:2925 finalCallback
    [frontend]/[webpack]/lib/Compilation.js:2925:11
  
  - Compilation.js:3238 
    [frontend]/[webpack]/lib/Compilation.js:3238:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [frontend]/[tapable]/lib/Hook.js:18:14
  
  - Compilation.js:3231 
    [frontend]/[webpack]/lib/Compilation.js:3231:38
  
  
  - Compilation.js:505 fn
    [frontend]/[webpack]/lib/Compilation.js:505:9
  
  
  
  - task_queues:95 process.processTicksAndRejections
    node:internal/process/task_queues:95:5
  
</pre>